body{
background-color: #CEE3F6;

}

header{
background-color: #2E64FE;
border-bottom: 3px solid black;
height: 50px;
width: 100%;
float: left;
}

header h1{
color: white;
font-family: helvetic;
font-size: 40px;
font-weight: bold;
text-indent: 5%;
margin-top: auto;
width: 60%;
float: left;
}

header nav{
float: left;
width: 30%;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 10%;
}

nav a{
font-family: helvetic;
color: white;
font-size: 20px;
padding: 5px;
text-align: rigth;
text-decoration: none;
}

#formularioFiltros{
border-right-style: solid;
border-rigth-color: black;
border-bottom-style: solid;
border-bottom-color: black;
font-family: helvetic;
font-size: 24px;
line-height: 40px;
color: black;
text-align: left;
width: 18%;
margin-left: 10px;
float: left;
height: 490px;
}


#catalogoAConsultar{
font-size: 20px;
border-bottom-style: solid;
border-bottom-color: black;
margin: 5px;
}

#filtros{
font-size: 20px;
margin: 5px;
}


#filtros input{
	width: 90%;
}

#categoria{
	width: 50%;
}

select{
	width: 50px;
}

#boton {
	margin-left: 30%;
	line-heigth: 50px;
	width: 100px;
	margin-bottom: 20px;
}

#recetaAMostrar{
border:  solid black;
font-family: helvetic;
color: black;
line-height: 18px;
text-align: center;
width: 18%;
margin: 0.5%;
float: left;
height: 230px;
}

#recetaAMostrar div{
height: 80px;
}

#recetaAMostrar h1{
font-size: 22px;
}

#recetaAMostrar h2{
float: left;
font-size: 18px;
width: 44%;
margin-right:3%;
margin-left: 3%;
}

#dificultadReceta{
font-size: 16px;
float: left;
width: 40%;
margin: 2.5%;
}

#caloriasReceta{
font-size: 16px;
float: left;
width: 45%;
margin: 2.5%;
}

#recetaAMostrar h4{
font-size: 16px;
float: left;
width: 40%;
margin: 5%;
}

#recetaAMostrar h5{
font-size: 16px;
margin: 2%;
}
