body{
background-color: #CEE3F6;

}

header{
background-color: #2E64FE;
border-bottom: 3px solid black;
height: 50px;
width: 100%;
}

header h1{
color: white;
font-family: helvetic;
font-size: 40px;
font-weight: bold;
text-indent: 5%;
margin-top: auto;
width: 60%;
float: left;
}


h2{
clear: left;
}

header nav{
float: left;
width: 30%;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 10%;
}

nav a{
font-family: helvetic;
color: white;
font-size: 20px;
padding: 5px;
text-align: rigth;
text-decoration: none;
}

#recetaAMostrar{
border: 5px solid black;
font-family: helvetic;
color: black;
text-align: center;
width: 18%;
margin: 0.5%;
float: left;
}

#recetaAMostrar h1{
font-size: 22px;
}

#recetaAMostrar h2{
float: left;
font-size: 18px;
width: 44%;
margin-right:3%;
margin-left: 3%;
}

#recetaAMostrar h3{
font-size: 18px;
clear: left;
}

#recetaAMostrar h4{
font-size: 16px;

