body{
background-color: #CEE3F6;

}

header{
background-color: #2E64FE;
border-bottom: 3px solid black;
height: 50px;
width: 100%;
}

header h1{
color: white;
font-family: helvetic;
font-size: 40px;
font-weight: bold;
text-indent: 5%;
width: 40%;
margin-top: auto;
float: left;
}

#logger{
margin-top: 15px;
margin-bottom: 15px;
font-family: helvetic;
font-size: 18px;
color: white;
float: left;
margin-left: 5%;
}


h2{
text-align: center;
margin-left: 3%;
margin-top: 5%;
width : 40%;
font-size: 40px;
foat: left;
}

p{
font-family: helvetic;
font-size: 16px;
width: 40%;
margin-left: 3%;
float: left;
}

#registro{
font-family: helvetic;
text-align: left;
font-size: 30px;
color: black;
margin-left: 3%;
margin-top: 2%;
width : 40%;
float: left;
clear: left;
}

#boton{
margin-left: 30%;
}

img{
width: 30%;
margin-left: 15%;
clear: rigth;
}
