body{
background-color: #CEE3F6;

}

header{
background-color: #2E64FE;
border-bottom: 3px solid black;
height: 50px;
width: 100%;
}

header h1{
color: white;
font-family: helvetic;
font-size: 40px;
font-weight: bold;
text-indent: 5%;
margin-top: auto;
width: 50%;
float: left;
}

header nav{
float: left;
width: 40%;
margin-top: 15px;
margin-bottom: 15px;
margin-left: 5%;
}

nav a{
font-family: helvetic;
color: white;
font-size: 20px;
padding: 5px;
text-align: rigth;
text-decoration: none;
}

h1{
	text-align: center;
}
h2{
	margin-left: 10%;
}

#ingredientes{
	float:left;
	margin: 5%;
	width: 40%;
	clear:left;

}

#condimentos{
	float:left;
	margin: 5%;
	width: 40%;
	clear: rigth;
}
 #procedimiento{
 clear: left;
 clear: rigth;
 }
 
 #procedimiento article{
 float: left;
 margin: 5%;
 }
 
 #informacion{
 width: 100%;
 clear: right;
 clear: left;
 margin: 2%;
 }
 
 #informacion div{
 float: left;
 width: 20%;
 margin: 2%;
 }